ovos-adapt-parser<2.0.0
ovos-audio<1.0.0
ovos-audio-plugin-mpv<1.0.0
ovos-audio-plugin-simple<1.0.0
ovos-backend-client<2.0.0
ovos-bidirectional-translation-plugin<1.0.0
ovos-bus-client<2.0.0
ovos-classifiers<1.0.0
ovos-common-query-pipeline-plugin<2.0.0
ovos-config<1.0.0
ovos-core<1.0.0
ovos-date-parser<1.0.0
ovos-dinkum-listener<1.0.0
ovos-gui<2.0.0
ovos-gui-plugin-shell-companion<2.0.0
ovos-mark1-utils<1.0.0
ovos-media-plugin-chromecast<1.0.0
ovos-media-plugin-spotify<1.0.0
ovos-messagebus<1.0.0
ovos-microphone-plugin-alsa<1.0.0
ovos-microphone-plugin-sounddevice<1.0.0
ovos-number-parser<1.0.0
ovos-ocp-files-plugin<1.0.0
ovos-ocp-m3u-plugin<1.0.0
ovos-ocp-news-plugin<1.0.0
ovos-ocp-pipeline-plugin<2.0.0
ovos-ocp-rss-plugin<1.0.0
ovos-ocp-youtube-plugin<1.0.0
ovos-padatious<2.0.0
ovos-PHAL<1.0.0
ovos-PHAL-plugin-alsa<1.0.0
ovos-PHAL-plugin-balena-wifi<2.0.0
ovos-phal-plugin-connectivity-events<1.0.0
ovos-PHAL-plugin-hotkeys<1.0.0
ovos-phal-plugin-ipgeo<1.0.0
ovos-PHAL-plugin-mk1<1.0.0
ovos-PHAL-plugin-network-manager<2.0.0
ovos-PHAL-plugin-oauth<1.0.0
ovos-PHAL-plugin-system<2.0.0
ovos-PHAL-plugin-wallpaper-manager<1.0.0
ovos-PHAL-plugin-wifi-setup<2.0.0
ovos-plugin-common-play<2.0.0
ovos-plugin-manager<1.0.0
ovos-skill-alerts<1.0.0
ovos-skill-application-launcher<1.0.0
ovos-skill-audio-recording<1.0.0
ovos-skill-boot-finished<1.0.0
ovos-skill-confucius-quotes<1.0.0
ovos-skill-date-time<1.0.0
ovos-skill-days-in-history<1.0.0
ovos-skill-dictation<1.0.0
ovos-skill-fallback-unknown<1.0.0
ovos-skill-hello-world<1.0.0
ovos-skill-homescreen<3.0.0
ovos-skill-installer<1.0.0
ovos-skill-ip<1.0.0
ovos-skill-local-media<1.0.0
ovos-skill-naptime<1.0.0
ovos-skill-parrot<1.0.0
ovos-skill-personal<1.0.0
ovos-skill-pyradios<1.0.0
ovos-skill-somafm<1.0.0
ovos-skill-speedtest<1.0.0
ovos-skill-spelling<1.0.0
ovos-skill-volume<1.0.0
ovos-skill-weather<1.0.0
ovos-skill-wikihow<1.0.0
ovos-skill-wikipedia<1.0.0
ovos-solver-openai-persona-plugin<2.0.0
ovos-solver-yes-no-plugin<1.0.0
ovos-stt-plugin-chromium<1.0.0
ovos-stt-plugin-server<1.0.0
ovos-stt-plugin-vosk<1.0.0
ovos-translate-server-plugin<1.0.0
ovos-tts-plugin-server<1.0.0
ovos-utils<1.0.0
ovos-utterance-corrections-plugin<1.0.0
ovos-utterance-normalizer<1.0.0
ovos-utterance-plugin-cancel<1.0.0
ovos-vad-plugin-noise<1.0.0
ovos-vad-plugin-silero<1.0.0
ovos-workshop<3.0.0
ovos-ww-plugin-openwakeword<1.0.0
ovos-ww-plugin-precise-lite<1.0.0
ovos-ww-plugin-vosk<1.0.0