ovos-audio-plugin-mpv>=0.2.1
ovos-audio-transformer-plugin-speechbrain-langdetect>=0.0.0a9
ovos-bidirectional-translation-plugin>=0.1.2
ovos-bus-client>=1.3.6a1
ovos-color-parser>=0.0.9a2
ovos-config>=2.1.4a1
ovos-date-parser>=0.7.0a1
ovos-dialog-normalizer-plugin>=0.0.1
ovos-dinkum-listener>=0.5.0a2
ovos-google-translate-plugin>=0.0.0a2
ovos-i2c-detection>=0.0.6a1
ovos-lang-detector-classics-plugin>=0.0.1a1
ovos-lang-detector-fasttext-plugin>=0.1.1
ovos-lang-parser>=0.0.3a2
ovos-mark1-utils>=0.0.1
ovos-messagebus>=0.0.11a1
ovos-number-parser>=0.5.2a1
ovos-ocp-files-plugin>=0.13.1
ovos-ocp-m3u-plugin>=0.0.2a2
ovos-ocp-news-plugin>=0.1.2
ovos-PHAL-plugin-balena-wifi>=1.2.2
ovos-PHAL-plugin-hotkeys>=0.1.1
ovos-PHAL-plugin-mk1>=0.1.3
ovos-PHAL-plugin-mk2-fan-control>=0.0.1
ovos-PHAL-plugin-network-manager>=1.0.1a2
ovos-PHAL-plugin-oauth>=0.1.3
ovos-PHAL-plugin-wifi-setup>=1.1.1a1
ovos-plugin-manager>=1.0.4a2
ovos-skill-alerts>=0.1.28a1
ovos-skill-application-launcher>=0.5.14
ovos-skill-audio-recording>=0.2.7
ovos-skill-boot-finished>=0.5.1a3
ovos-skill-camera>=1.0.5a6
ovos-skill-cmd>=0.2.11
ovos-skill-color-picker>=0.0.7
ovos-skill-confucius-quotes>=0.1.13
ovos-skill-count>=0.0.2
ovos-skill-date-time>=1.1.6a1
ovos-skill-days-in-history>=0.3.11
ovos-skill-diagnostics>=0.0.8
ovos-skill-dictation>=0.2.20a1
ovos-skill-fallback-unknown>=0.1.9
ovos-skill-fuster-quotes>=0.0.4
ovos-skill-hello-world>=0.2.3a2
ovos-skill-homescreen>=3.0.3
ovos-skill-icanhazdadjokes>=0.3.7
ovos-skill-ip>=0.2.8
ovos-skill-iss-location>=0.2.16
ovos-skill-laugh>=0.2.3
ovos-skill-local-media>=0.2.13a1
ovos-skill-moviemaster>=0.0.12
ovos-skill-naptime>=0.3.16a1
ovos-skill-news>=0.4.6a1
ovos-skill-number-facts>=0.1.12
ovos-skill-parrot>=0.1.26a1
ovos-skill-personal>=0.1.20a1
ovos-skill-pyradios>=0.1.5
ovos-skill-randomness>=0.1.2
ovos-skill-screenshot>=0.0.7
ovos-skill-somafm>=0.1.6a1
ovos-skill-speedtest>=0.3.7a1
ovos-skill-spelling>=0.2.6
ovos-skill-volume>=0.1.17a3
ovos-skill-wallpapers>=1.0.12a1
ovos-skill-weather>=1.0.8a3
ovos-skill-wikihow>=0.3.3
ovos-skill-wikipedia>=0.8.13
ovos-skill-wolfie>=0.5.8
ovos-skill-word-of-the-day>=0.2.0
ovos-skill-youtube-music>=0.1.7
ovos-solver-bm25-plugin>=0.0.1
ovos-solver-yes-no-plugin>=0.2.9a3
ovos-stt-plugin-azure>=0.0.0a2
ovos-stt-plugin-chromium>=0.1.2
ovos-stt-plugin-citrinet>=0.0.9
ovos-stt-plugin-fasterwhisper>=0.0.1a8
ovos-stt-plugin-mms>=0.2.0
ovos-stt-plugin-nos>=0.2.0
ovos-stt-plugin-vosk>=0.2.5
ovos-stt-plugin-wav2vec>=0.3.0
ovos-stt-plugin-whisper-lm>=0.0.5
ovos-stt-plugin-whispercpp>=0.0.0a8
ovos-translate-plugin-nllb>=0.0.0a4
ovos-tts-plugin-ahotts>=0.1.1
ovos-tts-plugin-beepspeak>=0.0.1a1
ovos-tts-plugin-coqui>=0.2.0
ovos-tts-plugin-cotovia>=0.4.3
ovos-tts-plugin-edge-tts>=0.2.2
ovos-tts-plugin-google-tx>=1.0.3
ovos-tts-plugin-matxa-multispeaker-cat>=0.0.1a5
ovos-tts-plugin-mimic>=0.2.9a2
ovos-tts-plugin-nos>=0.7.3
ovos-tts-plugin-pico>=0.0.4a2
ovos-tts-plugin-polly>=0.2.1
ovos-utils>=0.8.4a1
ovos-utterance-normalizer>=0.2.3
ovos-utterance-plugin-cancel>=0.2.5
ovos-vad-plugin-noise>=0.1.2
ovos-vad-plugin-silero>=0.0.6a1
ovos-vad-plugin-webrtcvad>=0.0.1
ovos-workshop>=7.0.9a1
ovos-ww-plugin-openwakeword>=0.4.1
ovos-yaml-editor>=0.0.3a1